.uploader__spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 10px auto;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .button {
    cursor: pointer;
    color: #000;
    border-radius: .5rem;
    background-color: #fff;
    border: none;
    padding: 1rem 2rem;
    transition: all .3s ease;
  }

  .button:hover {
    opacity: .7;
  }

  .iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .6rem;
    border: none;
    background: #000;
  }

  .fileFlex {
    width: fit-content;
    display: flex;
    gap: .5rem;
    align-items: center;
  }

  .iconButton, .fileFlex > .fileArea {
    border-radius: .5rem;
  }

  .fileFlex > .fileArea {
    margin: 0;
    display: block;
    padding: .5rem;
    background-color: var(--dark-purple);
  }

  .uploader__processing, .uploader__result, .uploader__error , .uploader__preview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .uploader__result > div > .fileArea {
    background-color: var(--light-green);
  }


  .uploader__error > p {
    color: var(--error-orange);
  }

  .uploader__error > div > .fileArea {
    background-color: var(--error-orange);
    color: #fff;
  }