.button {
    display: block;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    outline: none!important;
    cursor: pointer;
    border-radius: .8rem;
    padding: .5rem 1rem;
    background-color: var(--button-active);
    transition: all .3s ease;
}

.button:hover {
    opacity: .8;
}

.inactive {
    user-select: none;
    pointer-events: none;
    color: var(--button-inactive-text);
    background-color: var(--button-inactive);
}

.download {
    background-color: var(--button-download);
}

.clear {
    background-color: var(--button-clear);
    color: #fff;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: .7rem;
}